body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(105, 109, 109);

}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

#employee-form input[type="text"], #employee-form button {
    margin: 10px;
}

#schedule {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.break1 {
    background-color: #f9f3f3;
}
/* افتراضي: أنماط CSS الخاصة بالأجهزة الكمبيوتر الشخصي */

/* Media Queries للهواتف المحمولة */
@media only screen and (max-width: 600px) {
    /* أنماط CSS الخاصة بالهواتف المحمولة */
    body {
        font-size: 14px;
    }

    /* تحديد استايلات أخرى للأجهزة المحمولة */
}


.break2 {
    background-color: #e6f1e7;
}
